# 1. Create list with grocery details

In [ ]:
lis=["onion","Tomato","Potato","Carrot","Betroot","Rice","Oil","Cheese"]
print(lis)

['onion', 'Tomato', 'Potato', 'Carrot', 'Betroot', 'Rice', 'Oil', 'Cheese']

In [ ]:
type(lis)

list

In [ ]:
lis.append("Eggs")
print(lis)

['onion', 'Tomato', 'Potato', 'Carrot', 'Betroot', 'Rice', 'Oil', 'Cheese', 'Eggs', '5', ' ', 'l', 't', ' ', 'o', 'i', 'l', '5', ' ', 'l', 't', ' ', 'o', 'i', 'l', 'Eggs', '5', 'l', 't', 'o', 'i', 'l', 'Eggs', 'Eggs']

In [ ]:
lis.remove("Eggs")
print(lis)

['onion', 'Tomato', 'Potato', 'Carrot', 'Betroot', 'Rice', 'Oil', 'Cheese', '5', ' ', 'l', 't', ' ', 'o', 'i', 'l', '5', ' ', 'l', 't', ' ', 'o', 'i', 'l', '5', 'l', 't', 'o', 'i', 'l', 'Eggs']

In [ ]:
del lis[8:14]
print(lis)

['onion', 'Tomato', 'Potato', 'Carrot', 'Betroot', 'Rice', 'Oil', 'Cheese', 'Eggs']

In [ ]:
lis.count
lis

['onion',
 'Tomato',
 'Potato',
 'Carrot',
 'Betroot',
 'Rice',
 'Oil',
 'Cheese',
 'Eggs']

In [ ]:
lis.sort
lis

['onion',
 'Tomato',
 'Potato',
 'Carrot',
 'Betroot',
 'Rice',
 'Oil',
 'Cheese',
 'Eggs']

In [ ]:
lis.append("Eggs")
lis

['onion',
 'Tomato',
 'Potato',
 'Carrot',
 'Betroot',
 'Rice',
 'Oil',
 'Cheese',
 'Eggs',
 'Eggs',
 'Eggs']

In [ ]:
del lis[9]
lis

['onion',
 'Tomato',
 'Potato',
 'Carrot',
 'Betroot',
 'Rice',
 'Oil',
 'Cheese',
 'Eggs']

# 2. Conditional Statement

In [34]:
A=int(input())
B=int(input())
C=int(input())
if A>B and C>B:
  AC2=(A*C)**2
  print(AC2)
elif B>A or B>C:
  BC2=(B*C)**2
  print(BC2)
elif C>A and C>B:
  print(C)

5
8
6
2304

# 3. looping prime number

In [ ]:
for i in range(1,101):
  count=0
  for j in range(1,i+1):
    if i%j==0:
      count=count+1
  if count==2:
    if i%2==0:
      print(i,"Even number")
    else:
      print(i,"Odd number")

2 Even number
3 Odd number
5 Odd number
7 Odd number
11 Odd number
13 Odd number
17 Odd number
19 Odd number
23 Odd number
29 Odd number
31 Odd number
37 Odd number
41 Odd number
43 Odd number
47 Odd number
53 Odd number
59 Odd number
61 Odd number
67 Odd number
71 Odd number
73 Odd number
79 Odd number
83 Odd number
89 Odd number
97 Odd number


### 4. List comprehension

In [ ]:
list1=[num for num in range(0,100)]

# math function

In [ ]:
import math
def fun(x,y,z):
  ab=math.log(x)+math.sin(y)+math.tan(z)
  return ab

In [ ]:
fun(1,2,3)

0.7667508837514039

In [ ]:
import math
def fun1(x,z):
  tan_y=math.sin(x)/math.cos(z)
  return tan_y

In [ ]:
fun1(5,10)

1.1428397239489287

In [ ]:
def fun3(r):
  a=1/1-(r**2)
  return a

In [ ]:
fun3(2)

-3.0

In [ ]:
def fun4(x1,x2,y1,y2):
  D=(((x2-x1)**2)+((y2-y1)**2))**0.5
  return D

In [ ]:
fun4(4,6,0,6)

6.324555320336759

In [ ]:
class maths_fuction:
  import math
  def fun(x,y,z):
    ab=math.log(x)+math.sin(y)+math.tan(z)
    return ab

  import math
  def fun1(x,z):
    tan_y=math.sin(x)/math.cos(z)
    return tan_y

  def fun3(r):
    a=1/1-(r**2)
    return a

  def fun4(x1,x2,y1,y2):
    D=(((x2-x1)**2)+((y2-y1)**2))**0.5
    return D

In [ ]:
maths_fuction.fun3(5)

-24.0

## Lambda function

In [3]:
formul=lambda a,b,c: (b**2)-(4*a*c)/(2*a)

In [4]:
formul(2,4,6)

4.0

## Regex exp

In [21]:
import re

In [22]:
String ="My name Deepika Chinnasamy My mobile number is 8838294724 my Age is 23"

In [29]:
ph=re.findall("\d+",String)[0]
ph

'8838294724'

In [31]:
ph=re.findall("\d+",String)[1]
ph

'23'